.btn.btn-primary.position-absolute {
    max-width: 220px;
}

#calendar .daterangepicker td.active :not(off),
#calendar .daterangepicker td.active:hover :not(off) {
    background-color: var(--airbnb-red) !important;
    border-color: transparent;
    color: #fff;
}

.commentSection {
    background-color: var(--airbnb-red);
}

#comments .col {
    max-width: 350px;
}

.star {
    color: var(--google-yellow);
}