

#calendar {
    max-width: 350px;
    margin: auto;
}

#calendar .col {
    max-width: 14%;
    text-align: center;
}

.commentSection {
    background-color: var(--airbnb-red);
}

#comments .col {
    max-width: 350px;
}

.star {
    color: var(--google-yellow);
}