:root {
    --bs-blue: #00a0a0;
    --bs-black: #000000;
    --bs-grey: #6c757d;
    --airbnb-red: #FF5A5F;
    --airbnb-red-rgb: 255, 90, 95;

    --hover-red: #d80765;
    --hover-red-rgb: 216, 7, 101;
    /* --bs-primary-rgb: var(--airbnb-red-rgb); */
    --bs-primary-rgb: var(--airbnb-red-rgb);

    --dark-grey: #989898;
    --dark-grey-rgb: 152, 152, 152;

    --google-yellow: #F4B400;
    --google-yellow-rgb: 244, 180, 0;
    --bs-dropdown-link-active-bg: var(--airbnb-red);
}

.btn-primary {
    --bs-btn-bg: var(--airbnb-red);
    --bs-btn-border-color: var(--airbnb-red);
    --bs-btn-hover-bg: var(--hover-red);
    --bs-btn-hover-border-color: var(--hover-red);
    --bs-btn-active-bg: var(--airbnb-red);
    --bs-btn-active-border-color: var(--airbnb-red);
    --bs-btn-disabled-bg: var(--bs-grey);
    --bs-btn-disabled-border-color: var(--bs-grey);
}

.navbar .navbar-brand .material-symbols-outlined {
    color: var(--airbnb-red);
}

.nav-link {
    font-size: 1.2em;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: var(--white);
    /* Insert your color here */
}

.hero-section {
    padding: 100px 50px;
    background-color: #6BA292;
    /* Insert your color here */
    color: var(--white);
    /* Insert your color here */
}

.btn-custom {
    background-color: #444C5C;
    /* Insert your color here */
    color: var(--white);
    /* Insert your color here */
}

.card {
    border-color: #444C5C;
    /* Insert your color here */
}

.card .btn-custom {
    background-color: var(--white);
    /* Insert your color here */
    color: #444C5C;
    /* Insert your color here */
}

.gradient-custom {
    /* fallback for old browsers */
    background: var(--airbnb-red);
}

.warning-tooltip {
    background-color: var(--bs-warning);
}