#searchForm .form-control {
    max-width: max(60%, 550px);
}

.form-control:focus {
    outline: none;
    border-color: var(--bs-grey);
    border-right: 0;
    box-shadow: none;
}

.destinations .card {
    border: 0;
}

.destinations img {
    aspect-ratio: 1.05 / 1;
    max-height: 400px;
}

#content a {
    text-decoration: none;
}

.modal a {
    text-decoration: none;
}