<div class="row mx-1 mt-2">
  <div class="col">
    <div class="row">
      <h2 class="p-0">Faculties</h2>
    </div>
    <div class="row mb-2">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newFacultyModal">New Faculty</button>
    </div>
    <div class="row overflow-x-auto">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">Faculty ID</th>
            <th scope="col">Faculty Name</th>
          </tr>
        </thead>
        <tbody id="facultiesTableRow">
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- BEGIN: New Faculty Modal -->
<div class="modal fade" id="newFacultyModal" tabindex="-1" role="dialog" aria-labelledby="newFacultyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newFacultyModalLabel">New Faculty</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/faculties/create" id ="newFacultyForm">
          <input type="hidden" id="csrfToken" value= "<% csrfToken %>">
          <div class="mb-3">
            <label for="facultyName" class="form-label">Faculty Name</label>
            <input type="text" class="form-control" id="facultyNameInput" placeholder="Enter faculty name">
          </div>
          <!-- Add more form fields here if needed -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="newFacultySubmit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- END: New Faculty Modal -->
