<div class="row mx-1 mt-2">
  <div class="col">
    <div class="row">
      <h2 class="p-0">Installations</h2>
    </div>
    <div class="row mb-2">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newInstallationModal">New Installation</button>
    </div>
    <div class="row overflow-x-auto">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">Installation Name</th>
            <th scope="col">Faculty</th>
            <th scope="col">Capacity</th>
            <th scope="col">Type</th>
          </tr>
        </thead>
        <tbody id="installationTableRow">
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- FILEPATH: /d:/#1_REPOS VS STUDIO/23-23_AW/PROYECTO_OBLIGATORIO/views/fragments/admin/installations.ejs -->
<!-- BEGIN: ed8c6549bwf9 -->

<div class="modal fade" id="newInstallationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registrationModalLabel">Nueva Instalacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="newInstallationForm">
          <input type="hidden" id="_csrf" value=<% csrfToken  %>>
          <input type="file" id="installationImageInput" accept="image/*" hidden>
          <div class="row">
            <div class="col-lg-6">
              <img src="/images/img.svg" alt="profile-image" class="img-fluid" id="insImage">
            </div>
            <div class="col-lg-6">
              <!-- Installation Name -->
              <div class="form-group">
                <label for="installationName">Installation Name</label>
                <input type="text" class="form-control form-control-lg" id="installationName" placeholder="Installation Name">
              </div>
              <!-- Faculty -->
              <div class="form-group">
                <label for="installationFaculty">Faculty</label>
                <select class="form-control form-control-lg" id="installationFaculty">
                  <% faculties.forEach(function(faculty) { %>
                    <option value="<%= faculty.id %>"><%= faculty.name %></option>
                  <% }); %>
                </select>
              </div>
              <!-- Capacity -->
              <div class="form-group">
                <label for="installationCapacity">Capacity</label>
                <input type="number" class="form-control form-control-lg" id="installationCapacity" placeholder="Capacity">
              </div>
              <!-- Type -->
              <div class="form-group">
                <label for="installationType">Type</label>
                <select class="form-control form-control-lg" id="installationType">
                  <option value="colectivo">Colectivo</option>
                  <option value="individual">Individual</option>
                </select>
              </div>
              <!-- Picture placeholders and other fields from the original form -->
              <!-- ... -->
            </div>
          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="col d-flex justify-content-end">
                <button class="btn btn-secondary btn-lg px-sm-5" data-bs-dismiss="modal">Cancelar</button>
              </div>
              <div class="col d-flex justify-content-end">
                <button class="btn btn-primary btn-lg px-sm-5" id="formRegisterBtn" type="submit">Guardar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- END: ed8c6549bwf9 -->

<script>
  document.getElementById("newInstallationForm").addEventListener("submit", function(event) {
    event.preventDefault(); // Prevent form submission
    // Add your form submission logic here
  });
</script>
<!-- END: Modal -->
