<div class="row mx-1 mt-2">
  <div class="col">
    <div class="row">
      <h2 class="p-0">Installations</h2>
    </div>
    <div class="row mb-2">
      <button class="btn btn-primary">New Installation</button>
    </div>
    <div class="row overflow-x-auto">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">Installation Name</th>
            <th scope="col">Faculty</th>
            <th scope="col">Capactity</th>
            <th scope="col">Type</th>
          </tr>
        </thead>
        <tbody id="installationTableRow">
        </tbody>
      </table>
    </div>
  </div>
</div>