<div class="row mx-1 mt-2">
  <div class="col">
    <div class="row">
      <h2 class="p-0">Organization</h2>
    </div>
    <form id="updateOrgForm">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col-lg-4 text-center">
          <input type="file" id="orgImgUpload" accept="image/*" class="d-none">
          <label for="orgImgUpload">
            <img src="/org/picture" alt="Org Logo" id="orgImg" class="avatar rounded-circle img-fluid">
          </label>
        </div>
        <div class="col-lg-8">
          <div class="mb-3">
            <label for="orgName" class="form-label">Organization Name</label>
            <input type="text" class="form-control" id="orgName" aria-describedby="orgNameHelp" value="<%= org.name %>">
            <div id="orgNameHelp" class="form-text">This is the name visible to all users on the navigation bar.</div>
          </div>
          <div class="mb-3">
            <label for="orgAddress" class="form-label">Postal Address</label>
            <textarea class="form-control" id="orgAddress" rows="3" aria-describedby="orgAddrHelp"><%= org.dir %></textarea>
            <div id="orgAddrHelp" class="form-text">This is the address visible to all users on the page footer</div>
          </div>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </div>
    </form>
  </div>
</div>