<div class="col-auto sideBarCol p-0 p-md-auto">
    <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-0 align-items-center align-items-sm-start" id="pills-tab" role="tablist">
            <!-- Org -->
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-org-tab" data-bs-toggle="pill" data-bs-target="#pills-org" type="button" role="tab" aria-controls="pills-org" aria-selected="true">
                    <div class="row hoverable-item g-0">
                        <div class="col-auto">
                            <span class="material-symbols-outlined d-inline-block align-text-top">settings</span>
                        </div>
                        <div class="col">
                            <span class="ms-1 d-none d-sm-inline">Organization</span>
                            <span class="dropdown-arrow rotated material-symbols-outlined d-inline-block align-text-top invisible">arrow_drop_down</span>
                        </div>
                    </div>
                </button>
            </li>
            <!-- Users -->
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-users-tab" data-bs-toggle="pill" data-bs-target="#pills-users" type="button" role="tab" aria-controls="pills-users" aria-selected="false">
                    <div class="row hoverable-item g-0">
                        <div class="col-auto">
                            <span class="material-symbols-outlined d-inline-block align-text-top">group</span>
                        </div>
                        <div class="col">
                            <span class="ms-1 d-none d-sm-inline">Users</span>
                            <span class="dropdown-arrow rotated material-symbols-outlined d-inline-block align-text-top invisible">arrow_drop_down</span>
                        </div>
                    </div>
                </button>
            </li>
            <!-- Installations -->
            <li class="nav-item" role="presentation">
                <button class="nav-link" type="button" data-bs-toggle="collapse" data-bs-target="#installationsSettingsCollapse" aria-expanded="false" aria-controls="installationsSettingsCollapse">
                    <div class="row hoverable-item g-0">
                        <div class="col-auto">
                            <span class="material-symbols-outlined d-inline-block align-text-top">domain</span>
                        </div>
                        <div class="col">
                            <span class="ms-1 d-none d-sm-inline">Installations</span>
                            <span class="dropdown-arrow rotated material-symbols-outlined d-inline-block align-text-top">arrow_drop_down</span>
                        </div>
                    </div>
                </button>
                <div class="collapse ps-sm-4" id="installationsSettingsCollapse">
                    <button class="nav-link" id="pills-installationsCreate-tab" data-bs-toggle="pill" data-bs-target="#pills-installationsCreate" type="button" role="tab" aria-controls="pills-installationsCreate" aria-selected="false">
                        Create
                    </button>
                    <button class="nav-link" id="pills-installationsManage-tab" data-bs-toggle="pill" data-bs-target="#pills-installationsManage" type="button" role="tab" aria-controls="pills-installationsManage" aria-selected="false">
                        Manage
                    </button>
                </div>
            </li>
            <!-- Stats -->
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-stats-tab" data-bs-toggle="pill" data-bs-target="#pills-stats" type="button" role="tab" aria-controls="pills-stats" aria-selected="false">
                    <div class="row hoverable-item g-0">
                        <div class="col-auto">
                            <span class="material-symbols-outlined d-inline-block align-text-top">analytics</span>
                        </div>
                        <div class="col">
                            <span class="ms-1 d-none d-sm-inline">Stats</span>
                            <span class="dropdown-arrow rotated material-symbols-outlined d-inline-block align-text-top invisible">arrow_drop_down</span>
                        </div>
                    </div>
                </button>
            </li>
        </ul>
    </div>
</div>