<div class="col-auto sideBarCol p-0 p-md-auto">
    <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-0 align-items-center align-items-sm-start" id="pills-tab" role="tablist">
            <!-- Org -->
            <li class="nav-item" role="presentation">
                <div class="nav-link active" id="pills-org-tab" data-bs-toggle="pill" data-bs-target="#pills-org" role="tab" aria-controls="pills-org" aria-selected="true">
                    <div class="row hoverable-item g-0">
                        <div class="col-auto">
                            <span class="material-symbols-outlined d-inline-block align-text-top">settings</span>
                        </div>
                        <div class="col">
                            <span class="ms-1 d-none d-sm-inline">Organization</span>
                            <span class="dropdown-arrow rotated material-symbols-outlined align-text-top invisible d-none d-md-inline-block">arrow_drop_down</span>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Users -->
            <li class="nav-item" role="presentation">
                <div class="nav-link" id="pills-users-tab" data-bs-toggle="pill" data-bs-target="#pills-users" role="tab" aria-controls="pills-users" aria-selected="false">
                    <div class="row hoverable-item g-0">
                        <div class="col-auto">
                            <span class="material-symbols-outlined d-inline-block align-text-top">group</span>
                        </div>
                        <div class="col">
                            <span class="ms-1 d-none d-sm-inline">Users</span>
                            <span class="dropdown-arrow rotated material-symbols-outlined align-text-top invisible d-none d-md-inline-block">arrow_drop_down</span>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Reservations -->
            <li class="nav-item" role="presentation">
                <div class="nav-link" id="pills-reservations-tab" data-bs-toggle="pill" data-bs-target="#pills-reservations" role="tab" aria-controls="pills-reservations" aria-selected="false">
                    <div class="row hoverable-item g-0">
                        <div class="col-auto">
                            <span class="material-symbols-outlined d-inline-block align-text-top">event</span>
                        </div>
                        <div class="col">
                            <span class="ms-1 d-none d-sm-inline">Reservations</span>
                            <span class="dropdown-arrow rotated material-symbols-outlined align-text-top invisible d-none d-md-inline-block">arrow_drop_down</span>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Installations -->
            <li class="nav-item" role="presentation">
                <div class="nav-link" data-bs-toggle="collapse" data-bs-target="#installationsSettingsCollapse" aria-expanded="false" aria-controls="installationsSettingsCollapse">
                    <div class="row hoverable-item g-0">
                        <div class="col-auto">
                            <span class="material-symbols-outlined d-inline-block align-text-top">domain</span>
                        </div>
                        <div class="col">
                            <span class="ms-1 d-none d-sm-inline">Resources</span>
                            <span class="dropdown-arrow rotated material-symbols-outlined align-text-top d-none d-md-inline-block">arrow_drop_down</span>
                        </div>
                    </div>
                </div>
                <div class="collapse ps-sm-4" id="installationsSettingsCollapse">
                    <div class="nav-link" id="pills-installations-tab" data-bs-toggle="pill" data-bs-target="#pills-installations" role="tab" aria-controls="pills-installations" aria-selected="false">
                        Installations
                    </div>
                    <div class="nav-link" id="pills-faculties-tab" data-bs-toggle="pill" data-bs-target="#pills-faculties" role="tab" aria-controls="pills-faculties" aria-selected="false">
                        Faculties
                    </div>
                </div>
            </li>
            <!-- Stats -->
            <li class="nav-item" role="presentation">
                <div class="nav-link" id="pills-stats-tab" data-bs-toggle="pill" data-bs-target="#pills-stats" role="tab" aria-controls="pills-stats" aria-selected="false">
                    <div class="row hoverable-item g-0">
                        <div class="col-auto">
                            <span class="material-symbols-outlined d-inline-block align-text-top">analytics</span>
                        </div>
                        <div class="col">
                            <span class="ms-1 d-none d-sm-inline">Stats</span>
                            <span class="dropdown-arrow rotated material-symbols-outlined align-text-top invisible d-none d-md-inline-block">arrow_drop_down</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>