<div class="row row-cols-1 g-4 mt-2">
  <div class="col">
    <h2>Reservations by User</h2>
    <div class="overflow-x-auto">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">User Name</th>
            <th scope="col">Reservation Count</th>
            <th scope="col">Earliest Reservation</th>
            <th scope="col">Latest Reservation</th>
          </tr>
        </thead>
        <tbody id="statsByUser">
        </tbody>
      </table>
    </div>
  </div>

  <div class="col">
    <h2>Reservations by Faculty</h2>
    <div class="overflow-x-auto">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>User Name</th>
            <th>Reservation Count</th>
            <th>Earliest Reservation</th>
            <th>Latest Reservation</th>
          </tr>
        </thead>
        <tbody id="statsByFaculty">
        </tbody>
      </table>
    </div>
  </div>
</div>