<div class="row mt-2">
  <div class="container text-center">
    <h2>Users</h2>

    <!-- Search bar -->
    <form id="userSearchForm" class="m-3">
      <div class="input-group justify-content-center">
        <input type="text" class="form-control" id="userSearchQuery" name="userSearchQuery" placeholder="Search users">

        <!-- Search -->
        <div class="btn-group">
          <!-- Search Btn -->
          <button class="btn btn-primary ml-2" type="submit">
            <span class="material-symbols-outlined">search</span>
          </button>
          <!-- Filter Button -->
          <button class="btn btn-primary btn-rounded" type="button" data-bs-toggle="collapse" data-bs-target="#searchFilters" aria-expanded="false" aria-controls="searchFilters">
            <span class="material-symbols-outlined">tune</span>
          </button>
        </div>
      </div>

      <!-- Search filters -->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-6 mt-3 collapse align-items-center" id="searchFilters">
        <div class="col col-sm-4 col-md-2 col-lg-1">
          <label for="roleFilter" class="form-label">Role:</label>
        </div>
        <div class="col col-sm-8 col-md-4 col-lg-3 mb-2">
          <select id="roleFilter" class="form-select" aria-label="role filter">
            <option value="" selected>Any</option>
            <option value="0">User</option>
            <option value="1">Admin</option>
          </select>
        </div>
        <div class="col col-sm-4 col-md-2 col-lg-1">
          <label for="validatedFilter" class="form-label">Validated:</label>
        </div>
        <div class="col col-sm-8 col-md-4 col-lg-3 mb-2">
          <select id="validatedFilter" class="form-select" aria-label="validated filter">
            <option value="" selected>Any</option>
            <option value="0">No</option>
            <option value="1">Yes</option>
          </select>
        </div>
        <div class="col col-sm-4 col-md-2 col-lg-1">
          <label for="facultyFilter" class="form-label">Faculty:</label>
        </div>
        <div class="col col-sm-8 col-md-4 col-lg-3">
          <select id="facultyFilter" class="form-select" aria-label="faculty filter">
            <option value="" selected>Any</option>
          </select>
        </div>
      </div>
    </form>

    <div class="overflow-x-auto">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Faculty</th>
            <th class="d-none">Role</th>
            <th class="d-none">Validated</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody id="userList">

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- User settings modal -->
<div class="modal fade" id="userSettingsModal" tabindex="-1" aria-labelledby="userSettingsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="updateUser">
        <input class="d-none" id="userId" value="">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="userSettingsModalLabel">Settings</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" disabled>
          </div>
          <div class="mb-3">
            <label for="surname" class="form-label">Surname</label>
            <input type="text" class="form-control" id="surname" disabled>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" disabled>
          </div>
          <!-- TODO: show this -->
          <!-- <div class="mb-3">
            <label for="faculty" class="form-label">Faculty</label>
            <input type="text" class="form-control" id="faculty" disabled>
          </div>
          <div class="mb-3">
            <label for="grade" class="form-label">Grade</label>
            <input type="text" class="form-control" id="grade" disabled>
          </div> -->
          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select id="role" class="form-select" aria-label="role">
              <option value="0">User</option>
              <option value="1">Admin</option>
            </select>
          </div>
          <div id="validation" class="d-none">
            <label for="validationBtn" class="form-label">Validation</label>
            <br>
            <button id="validateUserBtn" class="btn btn-primary form-control" type="button">Validate</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- User history modal -->
<div class="modal fade" id="userHistoryModal" tabindex="-1" aria-labelledby="userHistoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="userHistoryModalLabel">History</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table id="uHistoryTable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Installation</th>
              <th>Faculty</th>
              <th>Reservation Start</th>
              <th>Reservation End</th>
              <th>Created</th>
            </tr>
          </thead>
          <tbody id="uHistoryTableRows">
          </tbody>
        </table>
        <div id="uHistoryNoResults">
          <h3>No results</h3>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>