:root{
    --customGreen: #00574B;
}
.navbar-custom {
    background-color: #00574B;  /* Insert your color here */
}

.navbar-custom .navbar-brand, .navbar-custom .nav-link {
    color: #FFFAFA;  /* Insert your color here */
}

.hero-section{
    padding: 100px 50px;
    background-color: #6BA292;  /* Insert your color here */
    color: #FFFAFA;  /* Insert your color here */
}

.btn-custom{
    background-color: #444C5C;  /* Insert your color here */
    color: #FFFAFA;  /* Insert your color here */
}

.card{
    border-color: #444C5C;  /* Insert your color here */
}

.card .btn-custom{
    background-color: #FFFAFA;  /* Insert your color here */
    color: #444C5C;  /* Insert your color here */
}
.gradient-custom {
    /* fallback for old browsers */
    background: #0ba26bda;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #00574b, #6BA292);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #00574b, #6BA292)
    }