<div id="calendarCarousel" class="carousel carousel-dark slide" data-bs-wrap="false">
    <div id="calendar" class="mx-auto">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <%- include('calendar-month', { date: new Date() }) %>
            </div>
            <% for (let i = 1; i < 5; i++) { %>
                <div class="carousel-item">
                    <%- include('calendar-month', { date: new Date(new Date().setMonth(new Date().getMonth() + i)) }) %>
                </div>
            <% } %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#calendarCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#calendarCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>