<!-- sign up modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" action="/cancelar">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirmationModalLabel">Confirma tu acción.</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="mb-3">
                    <input id="cancelReservaId" type="number" class="d-none" value="" name="reservaId">
                    <label class="form-label">¿Seguro que quieres eliminar esta reseña?</label>
                    <label id="confirmModalTitle" class="form-label"></label>
                    <label id="confirmModalDates" class="form-label"></label>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
              </form>
        </div>
    </div>
</div>