.btn.btn-primary.position-absolute {
    max-width: 220px;
}

.commentSection {
    background-color: var(--airbnb-red);
}

#comments .col {
    max-width: 350px;
}

.star.colored {
    color: var(--google-yellow);
}

.star.grey {
    color: grey;
}

.card-footer {
    --bs-card-border-width: 0px !important;
    background-color: inherit !important;
}