.reseniaBtn {
    color: rgb(255, 255, 255);
    --bs-btn-bg: var(--google-yellow);
    --bs-btn-border-color: var(--google-yellow);
    --bs-btn-hover-bg: #ffd92d;
    --bs-btn-hover-border-color: #ffd92d;
    --bs-btn-active-bg: var(--google-yellow);
    --bs-btn-active-border-color: var(--google-yellow);
    --bs-btn-disabled-bg: var(--bs-grey);
    --bs-btn-disabled-border-color: var(--bs-grey);
}

.avatar {
    width: 100%;
    aspect-ratio: 1 / 1;
    max-height: 275px;
}

.star.active {
    color: var(--google-yellow);
}

.btn:focus {
    box-shadow: none;
}

.card-footer {
    --bs-card-border-width: 0px !important;
    background-color: inherit !important;
}