.sideBarCol {
  background-color: var(--primary-blue);
}

.sideBarCol .nav-link {
  color: var(--bs-white);
  cursor: pointer;
}

.sideBarCol .nav-pills {
  --bs-nav-pills-link-active-bg: inherit;
}

.dropdown-arrow.rotated {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.contentCard:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.avatar {
  max-height: 275px;
}

#query {
  min-width: 125px;
}

#adminCol {
  flex: 1;
}

#pills-tabContent .btn {
  max-width: 150px;
}

#insImage, #editInstallationImg {
  width: 100%;
  aspect-ratio: 1 / 1;
  max-height: 230px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#insImage:hover, #editInstallationImg:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}