.installations .card {
  border: 0;
}

.installations img {
  aspect-ratio: 1.05 / 1;
  max-height: 400px;
}

#content a {
  text-decoration: none;
  color: var(--bs-card-color);
}

.installations .card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fades {
  animation: fadeInRight 1s ease-in-out forwards;
}

.fades li {
  --bs-dropdown-link-hover-bg: var(--secondary-blue);
  /* your desired color */
  --bs-dropdown-link-hover-color: var(--primary-black);
  /* your desired color */
}

