<!DOCTYPE html>
<html lang="es">
<!--
AUTORES:
Proyecto Opcional AW
    Nicolas Espinosa Mooser.
    Santiago Moral Santorio.
-->

<head>
    <!-- Shared head -->
    <%- include('fragments/head') %>

    <!-- Custom -->
    <link type="text/css" rel="stylesheet" href="/stylesheets/home.css" />
    <title>CheapBnB</title>
</head>

<body>
    <!-- Navbar -->
    <%- include('fragments/navbar') %>

    <!-- Content -->
    <div id="content" class="m-2">
        <!-- Search -->
        <div class="container text-center">
            <!-- Search bar -->
            <form id="searchForm" action="/search" method="post">
                <div class="input-group justify-content-center">
                    <input type="text" class="form-control" id="query" name="query" placeholder="Descubre tu próximo destino...">
                    <!-- Search Btn -->
                    <div class="btn-group">
                        <button class="btn btn-primary ml-2" type="submit">
                            <span class="material-symbols-outlined">search</span>
                        </button>
                    </div>
                </div>

                <!-- Search filters -->
                <div class="row mt-3">
                    <div class="collapse col" id="searchFilters">
                        <label for="maxPrice" class="form-label">Filtrar por precio:</label>
                        <input id="maxPrice" type="range" min="0" max="5000" value="2500" class="form-range" name="maxPrice">
                        <span id="rangeValue">2500</span>
                    </div>
                </div>
            </form>
        </div>

        <!-- Grid of destinations -->
        <div class="destinations container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 gx-4" id="destRow">
            </div>
        </div>
    </div>
    <!-- Footer -->
    <%- include('fragments/footer') %>
    <script src="/javascript/home.js"></script>
</body>

</html>