<!doctype html>
<html lang="en">

<head>
    <!-- Shared head -->
    <%- include('fragments/head') %>

    <!-- Custom -->
    <link type="text/css" rel="stylesheet" href="styles.css" />
    <title>CheapBnB - Login</title>
</head>

<body>
    <section class="vh-100 gradient-custom">
        <!-- Outer section with custom gradient background. vh-100 ensures it covers the full viewport height. -->
        <div class="container py-5 h-100">
            <!-- Container to center content vertically. py-5 adds padding to the top and bottom. -->
            <div class="row d-flex justify-content-center align-items-center h-100">
                <!-- Row to center content horizontally and vertically within the container. -->
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <!-- Column with responsive width based on screen size. -->
                    <div class="card bg-dark text-white rounded">
                        <!-- Bootstrap card with a dark background and rounded corners. -->
                        <div class="card-body p-5 text-center">
                            <!-- Card body with padding and centered text. -->
                            <h2 class="signin fw-bold mb-4 text-uppercase">Inicia Sesi칩n</h2>
                            <h2 class="register d-none fw-bold mb-4 text-uppercase">Registro</h2>
                            <!-- Heading with bold text and margin-bottom. -->
                            <p class="text-white-50 mb-4">Por favor introduce tus datos a continuaci칩n</p>
                            <!-- Paragraph with faded text and margin-bottom. -->

                            <form id="loginForm">
                                <!-- Login form. -->
                                <div id="alert" class="alert alert-danger d-none" role="alert"></div>
                                <div class="register d-none mb-4">
                                    <!-- Margin-bottom for spacing. -->
                                    <input type="text" id="nameInput" class="form-control form-control-lg" minlength="2" maxlength="40" placeholder="Nombre completo" data-bs-placement="right" data-bs-custom-class="warning-tooltip" data-bs-trigger="manual" data-bs-title="Introduce tu nombre completo">
                                    <!-- Email input with large size and form-control class. -->
                                </div>

                                <div class="mb-4">
                                    <!-- Margin-bottom for spacing. -->
                                    <input type="email" id="emailInput" class="form-control form-control-lg" placeholder="Email">
                                    <!-- Email input with large size and form-control class. -->
                                </div>

                                <div class="mb-4">
                                    <!-- Margin-bottom for spacing. -->
                                    <div class="input-group">
                                        <!-- Input group for password input and "Show" button. -->
                                        <input type="password" id="passwordInput" class="form-control form-control-lg" placeholder="Password">
                                        <!-- Password input with large size and form-control class. -->
                                        <button class="btn btn-outline-light" type="button" id="showPassword">Mostrar</button>
                                        <!-- Button to show/hide password. -->
                                    </div>
                                </div>
                                <button class="signin btn btn-outline-light btn-lg px-5" id="loginButton"type="submit">Entrar</button>
                                <button class="register d-none btn btn-outline-light btn-lg px-5" id="registerButton" type="submit">Registrar</button>
                                <!-- Login button with outlined style, large size, and custom width. -->
                            </form>

                            <div class="mt-4">
                                <!-- Margin-top for spacing. -->
                                <p class="register d-none mb-0">Ya est치s registrado? <a href="login.html" class="register text-white-50 fw-bold">Inicia sesi칩n</a></p>
                                <!-- Paragraph with a link for register d-noneing. -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="login.js"></script>
</body>

</html>