<div class="col py-3">
  <div class="row text-center g-4 mx-2">
    <h1>Create Installation</h1>

    <form id="createInstallation">
      <!-- Installation name -->
      <div class="row row-cols-1 row-cols-md-2 justify-content-center mb-3">
        <div class="col">
          <label for="name" class="form-label">Name</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" id="name" aria-describedby="nameHelp">
        </div>
        <div class="col">
          <div id="nameHelp" class="form-text">Enter the name of the installation</div>
        </div>
      </div>
      <!--  -->
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <!--  -->
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>