<div class="card h-100 w-100">
    <!-- Img row -->
    <a href="#">
        <div class="rounded">
            <!-- hace falta guardar el formato tambien!-->
            <img src="/images/<%installation.imageName%>" class="rounded d-block w-100 zoom-on-hover" alt="Destination Image">
        </div>
    </a>
    <!-- Card Body -->
    <div class="card-body align-items-center p-1 pt-2 text-center"> <!-- Added text-center class -->
        <h5 class="card-title">
            <% Installation.name %>
        </h5>
        <p class="card-text just">
            tipo de instalación: <%installation.type%><br>
            Capacidad: <% installation.capacity %>
        </p>
    </div>
    <!-- Card Footer -->
    <div class="card-footer">
        <div class="row justify-content-center">
            <% if (installation.availability === "Available") { %>
                <button class="btn btn-primary pill-rounded">Book now!</button>
            <% } else { %>
                <button class="btn btn-secondary pill-rounded disabled">Unavailable</button>
            <% } %>
        </div>
    </div>
</div>