<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-body-tertiary border-bottom">
    <div class="container">
        <a class="navbar-brand" href="/" target="_self">
            <span>
                <img src="/images/logo.svg" alt="logo" width="45" height="35">
            </span>
        </a>
        <!-- Account Icon -->
        <div class="navbar-nav ms-auto">
            <div class="nav-item">
                <div class="nav-item btn-group dropstart">
                    <btn id="accountCircleBtn" type="button" aria-current="page" data-bs-toggle="dropdown" data-bs-target="#loginModal" aria-expanded="false">
                        <span class="material-symbols-outlined d-inline-block align-text-top">account_circle</span>
                    </btn>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/user">My Profile</a></li>
                        <% if(locals.isAdmin) {%>
                            <li><a class="dropdown-item" href="/org">Admin</a></li>
                        <% } %>
                        <li><a class="dropdown-item" href="/users/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>