<!-- BEGIN: Modal -->
<div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reservationModalLabel">Reserve your facility: </h5>
                <button class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="reservationForm" method="post" action="/reservations/create">
                <input type="hidden" id="installationId" value="">
                <div class="modal-body" id="reservationModalBody">
                    <div class="mb-3">
                        <label for="calendar" class="form-label">Date:</label>
                        <input id="calendar" class="form-control w-100" type="text" value="" placeholder="Selecciona tu reserva" required>
                        <input type="hidden" id="startDate" name="startDate">
                        <input type="hidden" id="endDate" name="endDate">
                    </div>
                    <div id="hourBtns">
                        
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END: Modal -->
